<html>
<head>
<title>gb</title>
<meta http-equiv=content-type content="text/html; charset=windows-1251">
</head>
<body bgcolor=white text=black link=darkblue alink=darkblue vlink=darkblue>
<form method=post action=adduser.pl>
<center>
<table width=80% border=0 cellspacing=2 cellpadding=2>
<tr>
<td colspan=2 bgcolor=darkgray align=center>
<b>ADD NEW USER:</b>
</td>
<tr>
<td bgcolor=darkgray align=right>
<b>Administrative Login:</b>
</td>
<td bgcolor=lightgrey>
<input type=text name=adminlogin size=16 maxlength=16>
</td>
</tr>
<tr>
<td bgcolor=darkgray align=right>
<b>Administrative Password:</b>
</td>
<td bgcolor=lightgrey>
<input type=password name=adminpassword size=16 maxlength=16>
</td>
</tr>
<tr>
<td bgcolor=darkgray align=right>
<b>Username:</b>
</td>
<td bgcolor=lightgrey>
<input type=text name=login size=16 maxlength=16>
</td>
</tr>
<tr>
<td bgcolor=darkgray align=right>
<b>Password:</b>
</td>
<td bgcolor=lightgrey>
<input type=password name=password size=16 maxlength=16>
</td>
</tr>
<tr>
<td bgcolor=darkgray align=right>
<b>Confirm Password:</b>
</td>
<td bgcolor=lightgrey>
<input type=password name=confirmpassword size=16 maxlength=16>
</td>
</tr>
<tr>
<td bgcolor=darkgray align=right>
<b>Real Name:</b>
</td>
<td bgcolor=lightgrey>
<input type=text name=realname size=40 maxlength=64>
</td>
</tr>
<tr>
<td bgcolor=darkgray align=right>
<b>E-Mail:</b>
</td>
<td bgcolor=lightgrey>
<input type=text name=email size=40 maxlength=128>
</td>
</tr>
<tr>
<td bgcolor=darkgray align=right>
<b>URL:</b>
</td>
<td bgcolor=lightgrey>
<input type=text name=url size=40 maxlength=128>
</td>
</tr>
<tr>
<td colspan=2 bgcolor=lightgrey align=center>
<input type=submit value=POST>
</td>
</tr>
</table>
</center>
</form>
</body>
</html>
