<tr>
<td bgcolor=darkgray>
<b><a href=mailto:<!--{users}{email} -->><!--{users}{realname} --></a></b>
</td>
<td bgcolor=darkgray>
URL: <b><a href=<!--{users}{url} -->><!--{users}{url} --></a></b>
</td>
<td bgcolor=darkgray align=right>
<font size=-1><i><nobr><!--{messages}{posted} --></nobr></i>
</td>
</tr>
<tr>
<td colspan=3 bgcolor=darkgray>
<b>Subject: <!--{messages}{subject} --></b>
</td>
</tr>
<tr>
<td colspan=3 bgcolor=lightgrey>
<!--{messages}{message} -->
</td>
</tr>
<tr>
<td colspan=3 bgcolor=white>
&nbsp;
</td>
</tr>
